<a href="https://colab.research.google.com/github/apskis/data_science_ai_colab_books/blob/main/nat_not_filled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

messy = pd.DataFrame({
    "id": range(1, 21),
    "age": [25, 30, np.nan, 22, 120, 28, 27, np.nan, 35, 29,
            26, 24, 33, 40, np.nan, 31, 32, -1, 45, 17],
    "income": ["50000", "62000", 58000, None, "1000000", "54000", "52000", "51000",
               "60000", "59000", "65000", "not available", 48000, 47000,
               45000, "70000", "72000", "68000", "66000", None],
    "join_date": ["2021-01-15", "2020/12/01", "15-02-2021", None, "2025-01-01",
                  "2021-06-03", "2021-07-15", "2021-07-20", "2021-08-01",
                  "2021-09-10", "2021-10-05", "2021-11-11", "2021-12-01",
                  "2022-01-02", "2022-02-03", "2021-05-05", "2019-03-03",
                  "2020-05-05", None, "2021-04-04"],
    "email": ["ALICE@example.COM", "bob@Example.com", "carol@example.com",
              "dave@example", None, "emma@example.com", "frank@example.COM",
              "grace@Example.COM", "heidi@ex.com", "ivan@example.com",
              "judy@example.com", "leo@example.com", "mia@example.com",
              "nick@example.com", "oliver@example.com", "pam@example.com",
              "quinn@example.com", "ruth@example.com", "sam@example.com",
              "kate@example.com"]
})

def coerce_date_columns(s: pd.Series, dayfirst=False, yearfirst=False, format=None, fill_null_with_mode=False):

    """
    Takes a pandas Series as input.

    - Attempts to parse the Series into datetime.
    - Supports flexible parsing with `dayfirst`, `yearfirst`, or a specific `format`.
    - Non-parseable values become NaT.
    - Optionally fills missing values with the most frequent (mode) date.
    """

    s = pd.to_datetime(s, errors='coerce', dayfirst=dayfirst, yearfirst=yearfirst, format=format)
    if fill_null_with_mode:
      s = s.fillna(s.mode()[0])
    return s

coerce_date_columns(messy['join_date'], fill_null_with_mode=True)

0    2021-01-15
1    2019-03-03
2    2019-03-03
3    2019-03-03
4    2025-01-01
5    2021-06-03
6    2021-07-15
7    2021-07-20
8    2021-08-01
9    2021-09-10
10   2021-10-05
11   2021-11-11
12   2021-12-01
13   2022-01-02
14   2022-02-03
15   2021-05-05
16   2019-03-03
17   2020-05-05
18   2019-03-03
19   2021-04-04
Name: join_date, dtype: datetime64[ns]